<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

	<!-- Comment, Uncomment the context-param to see the difference -->
	<context-param>
		<param-name>pqr</param-name>
		<param-value>456</param-value>
	</context-param>


	<servlet>
		<servlet-name>abc</servlet-name>
		<jsp-file>/nxpg.jsp</jsp-file>
		<init-param>
			<param-name>pqr</param-name>
			<param-value>123</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>abc</servlet-name>
		<url-pattern>/nxpg.jsp</url-pattern>
	</servlet-mapping>
  


</web-app>
